<?xml version='1.0' encoding='UTF-8'?>
<org.codefirst.SimpleThemeDecorator plugin="simple-theme-plugin@0.3">
    <cssUrl>{{ jenkins_deploy_css_url }}</cssUrl>
    <jsUrl>{{ jenkins_deploy_js_url }}</jsUrl>
</org.codefirst.SimpleThemeDecorator>
